
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

/* Styling for button */
button[data-start],
button[data-stop],
button[type="submit"] {
  padding: 0.8rem;
}

button[data-start]:disabled,
button[data-stop]:disabled,
button[type="submit"]:disabled {
  cursor: not-allowed;
}

.main {
padding: 2rem 0;
flex-direction: column;
}

input {
  padding: 0.6rem;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 4px;

}

/* TIMER */
.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin: 1rem;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1.2rem;
}

.value {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 0.6rem;
}

.label {
  font-size: 1rem;
  text-transform: uppercase;
}

/* PROMISES */
.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  margin: 1.25rem;
}

.form label {
  display: block;
  text-align: center;
  font-size: 1rem;
}

.form input {
  width: 100%;
  max-width: 300px;
}
